body{
	margin: 0;

}

div {
  font-family: "Abril Fatface", fantasy;
  font-size: 35px;
  height: 465px;
	background: inherit;
	text-align: center;
	background-color: white;
  padding: 200px 50px 0px 50px;

}

.typewriter h1 {
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .10em;
  animation: typing 7s steps(40, end),
  blink-caret 0.75s step-end infinite;

}

@keyframes typing {
  from {width: 0;}
  to {width: 100%;}
}

@keyframes blink-caret {

  from, to {border-color: transparent;}
  50%{border-color: black;}
}

.active {
	text-decoration: none;
	color: black;
}
h2 {
  font-family: monospace;
  font-size: 20px;
}
